<html style="background-color:#f7931e;">
<head>
<meta charset=utf-8>
</head>
<body style=font-size:40; ><center style=color:#800000;>
<p><a href="https://imgur.com/FNSxT8z"><img src="https://i.imgur.com/FNSxT8z.jpg" title="source: imgur.com" /></a>
    <a href="https://imgur.com/aFwj3Ke"><img src="https://i.imgur.com/aFwj3Ke.jpg" title="source: imgur.com" /></a>
    <a href="https://imgur.com/t7HHuqS"><img src="https://i.imgur.com/t7HHuqS.jpg" title="source: imgur.com" /></a></p>
    <a href = "http://127.0.0.1:8000/game"> <button style=font-size:30;>Run Game</button></a>
    <h1 style=font-family:"Courier"; >Learn To Recycle</h1>
    <p style=font-family:"Courier";>Click the button to test your knowledge about recycling.</p>
    <p style=font-family:"Courier";>Can you get a perfect score?</p>
</center></body>
</html>
